<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>CountWords</title>
</head>

<body>
  <div id="container">

    <h1>Word Counter</h1>

    <div>
      <h3>Please upload a text file</h3>
      <input type="file" id="fileInput" />
      </br>
    </div>

    <div id=wordListArea></div>

  </div>

  <script src="../src/CountWords.js"></script>
  <script src="../src/ListWords.js"></script>
  <script type="text/javascript" src="../src/Interface.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</body>

</html>
